.user-detail-box{
  margin-top: 20px;
 
  .user-icon{
    font-size: 80px;
  }
  .profile-picture{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}