<footer class="footer hidden-xs hidden-sm ">
  <div class="col-md-8 col-md-offset-2">
    <div class="row footer-top">
      <div class="col-md-2 col-md-offset-1">
        <div class="row">
          <select class="col-md-12">
            <option>Português</option>
            <option>Inglês</option>
          </select>
        </div>
        <div class="row">
          <select class="col-md-12">
            <option>BRL</option>
            <option>USD</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <div class="row">
          <p><b>A Empresa</b></p>
        </div>
        <div class="row">
          <a href="">Sobre</a>
        </div>
        <div class="row">
          <a href="">Ajuda</a>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <div class="row">
          <p><b>Descubra</b></p>
        </div>
        <div class="row">
          <a href="">Mapa do Site</a>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <div class="row">
          <p><b>Hospedando</b></p>
        </div>
        <div class="row">
          <a href="">Por que Hospedar</a>
        </div>
        <div class="row">
          <a href="">Resposabilidade</a>
        </div>
      </div>
    </div>
    <div class="row footer-middle">
      <hr>
    </div>
    <div class="row footer-bottom">
      <div class="row text-center">
        Siga-Nos
      </div>
      <div class="row social-icons">
        <div class="col-md-4 col-md-offset-4">
          <div class="col-md-1 col-md-offset-1">
            <a href="/">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
          <div class="col-md-1 col-md-offset-1">
            <a href="/">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <div class="col-md-1 col-md-offset-1">
            <a href="/">
              <i class="fa fa-youtube"></i>
            </a>
          </div>
          <div class="col-md-1 col-md-offset-1">
            <a href="/">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row text-center">
        PSD baseado no site airbnb.com - Bootcamp OneBitCode - 2017
      </div>
    </div>
  </div>
</footer>