<sebm-google-map class="sebm-google-map-container"
  [latitude]="lat"
  [longitude]="lng"
  >
 
  <sebm-google-map-marker
      *ngFor="let m of mapPins; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.price"
      [iconUrl]="m.icon">
 
    <sebm-google-map-info-window>
      <a href="" [routerLink]="['/property', m.id]" target="_blank">
        <div>
          <div>
            <img src="{{ m.photo }}" class="map_pin">
          </div>
          <div class="text-center">
            <span class="property-price">R${{ m.price }}</span>
            <span class="property-title">{{ m.label }}</span>
          </div>
        </div>
      </a>
    </sebm-google-map-info-window>
 
  </sebm-google-map-marker>
 
</sebm-google-map>