/* You can add global styles to this file, and also import other style files */
$template-color-1 : #ff5a5f;
$template-color-2 : #666666;
$template-color-3 : #999999;
$template-color-4 : #333333;
$template-color-5 : #cccccc;
$template-color-6 : #ffffff;
 
$facebook-button  : #3b5998;
 
.btn-success-custom{
  color: $template-color-6;
  background-color: $template-color-1;
  border-color: $template-color-1;
}
 
.btn-facebook{
  color: $template-color-6;
  background-color: $facebook-button;
  border-color: $facebook-button;
}
 
.btn{
  border-radius: 0px;
}
 
.form-control{
  border-radius: 0px;
}
 
.stars{
  color: #f7e537;
  font-size: 16px;
}